<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>Playing in the House of Games</title>	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/style.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

	<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Playing In The House of Games</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <!-- <form class="navbar-form navbar-right">
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form> -->
          <ul class="nav navbar-nav navbar-right">
        	<li><a href="register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        	<li><a href="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      	  </ul>

        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="logo">
        <h1>Playing in the House of Games</h1>        
      </div>
    </div>

    <div class="container">  

      <div class="radio_1">
        <label for="radio_1">On a scale of 1-10, where 10 being the highest, how much do you value your privacy?</label>
        <label class="radio-inline"><input type="radio" name="optradio" value="1">1</label>
        <label class="radio-inline"><input type="radio" name="optradio" value="2">2</label>
        <label class="radio-inline"><input type="radio" name="optradio" value="3">3</label>
        <label class="radio-inline"><input type="radio" name="optradio" value="4">4</label>
        <label class="radio-inline"><input type="radio" name="optradio" value="5">5</label>
        <label class="radio-inline"><input type="radio" name="optradio" value="6">6</label>
        <label class="radio-inline"><input type="radio" name="optradio" value="7">7</label>
        <label class="radio-inline"><input type="radio" name="optradio" value="8">8</label>
        <label class="radio-inline"><input type="radio" name="optradio" value="9">9</label>
        <label class="radio-inline"><input type="radio" name="optradio" value="10">10</label>
      </div>

      <div class="form-group">
        <label for="socialmedia">What social media websites do you use?</label>
        <textarea class="form-control" rows="5" id="comment"></textarea>
      </div>   

      <div class="form-group">
        <label for="sel1">How often do you use these social media websites?</label>
        <select class="form-control" id="sel1">
          <option value="month">Monthly</option>
          <option value="week">Weekly</option>
          <option value="daily">Daily</option>
          <option value="morethanday">More than once a day</option>
          <option value="hourly">Hourly</option>
          <option value="morethanhour">More than once an hour</option>
        </select>
      </div>

      <div class="radio_2">
        <label for="radio_2">On a scale of 1-10, where 10 being the highest, how much do you know about Facebook's Terms and Conditions?</label>
        <label class="radio-inline"><input type="radio" name="optradio" value="1">1</label>
        <label class="radio-inline"><input type="radio" name="optradio" value="2">2</label>
        <label class="radio-inline"><input type="radio" name="optradio" value="3">3</label>
        <label class="radio-inline"><input type="radio" name="optradio" value="4">4</label>
        <label class="radio-inline"><input type="radio" name="optradio" value="5">5</label>
        <label class="radio-inline"><input type="radio" name="optradio" value="6">6</label>
        <label class="radio-inline"><input type="radio" name="optradio" value="7">7</label>
        <label class="radio-inline"><input type="radio" name="optradio" value="8">8</label>
        <label class="radio-inline"><input type="radio" name="optradio" value="9">9</label>
        <label class="radio-inline"><input type="radio" name="optradio" value="10">10</label>
      </div>

      <hr>

      <footer>
        <p>&copy; 2016 Company, Inc.</p>
      </footer>
    </div> <!-- /container -->


</body>
</html>