body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Home Page CSS*/
.logo {
  text-align: center;
  margin: 40px;
}

.logo img{
  border-radius: 30px;
}

.about{
  text-align: center;
}

#infobox{
  margin: auto;
  width: 75%;
}

/* Pregame Questionnaire*/
.radio_1{
text-align: center;
}

.radio_2{
text-align: center;
}



