<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>

<body>
	<% include ../partials/header %>

	<div class="jumbotron">
      <div class="logo">
        <h1>Playing in the House of Games</h1>        
      </div>
    </div>

    <div class="container">
      <div class="about">
        <div class="panel panel-danger">
          <div class="panel-heading"><h2>Terms and Conditions</h2></div>
          <div class="panel-body">By accepting these terms and conditions, I understand that:
            <li>I am 18+ years old</li>
            <li>I agree to taking part in the House of Games study</li>
          </div>
        </div>
        <a href="register" class="btn btn-success btn-lg">I Accept The Terms and Conditions</a>
      </div>		
    </div>

      <hr>

      <footer>
        <p>&copy; 2016 Company, Inc.</p>
      </footer>
    </div> <!-- /container -->
	
</body>

<script type="text/javascript">

</script>

</html>