<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>

<body>
	<% include ../partials/header %>

    <div class="container">
      <div class="tnc">
        <div class="panel panel-danger">
          <div class="panel-heading"><center><h2><b>Terms and Conditions</b></h2></center></div>
          <div class="panel-body"><b>By accepting these terms and conditions, I understand that:</b>
            <li>I am above 18 years of age</li>
            <li>I have read the information page and understand the purpose of this study.</li>
            <li>I agree to taking part in the House of Games study</li>
            <br>
            <li>The information I have provided will be destroyed two years after the research is finished</li>
            <li>Any information I provide will be kept confidential only to individuals involved within this study</li> 
            <li>The results will be used for analysis and a summary of the results may be used in academic reports and/or presented at conferences.</li>
            <li>My participation will be kept confidential</li>
          </div>
        </div>
        <center><a href="register" class="btn btn-success btn-lg">I Accept The Terms and Conditions</a></center>
      </div>		
    </div>

      <hr>

      <footer>
        <p>&copy; 2016 Company, Inc.</p>
      </footer>
    </div> <!-- /container -->
	
</body>

<script type="text/javascript">

</script>

</html>