<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>

<body>
	<% include ../partials/header %>

	<div class="jumbotron">
      <div class="logo">
        <h1>Playing in the House of Games</h1>        
      </div>
    </div>

    <div class="container">     
      
      <div class="about">   

        <div class="panel panel-success">
          <div class="panel-heading">Thank you for completing the survey!</div>
          <div class="panel-body">At this stage, please raise your hand and tell the experimenter that you have finished the survey as you will now be asked a couple of questions regarding your use of Facebook. Don't forget to collect your $10 voucher!</div>
        </div>

        <a href="home" class="btn btn-primary btn-lg">Return to Home Page</a>
		
      </div>

      <hr>

      <footer>
        <p>&copy; 2016 Company, Inc.</p>
      </footer>
    </div> <!-- /container -->

</body>

<script type="text/javascript">

</script>

</html>