<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>

<body>
	<% include ../partials/header %>

    <div class="container">

    	<div class="customload">
      		<div class="loader"></div>
      		<p>Looking for an opponent...</p>
    	</div>

    	<div class="about">
            <div class="col-md-7">
                <div class="panel panel-info">
                <div class="panel-heading"><h4><center>Game Overview</center></h4></div>
                <div class="panel-body">
                    The game begins with you initially being given an $N amount of money, where your opponent will not know the amount that you have. The game will consist of <b>three</b> rounds. 

                <li>At the beginning of each round, the opposing player will not know how much money you initially have, and you will be asked to make an offer which you will proposing to the opposing player as seen in <b>Figure 1</b>.</li> 
                
                <li>The role of the opposing player is to solely decide to take your offer or not, and will not create an offer</li>

                <li>If the opposing player accepts this offer, then both players win where you will keep the amount you have remaining from that round, and the opposing player will win the amount you have given as seen in <b>Figure 2</b>. <b>For example</b>, you are given $200 and give the other player $50, then you keep your $150 and the opposing player wins $50.</li> 

                <li>If however the opposing player declines your offer, both players lose, where you lose all the money that you are given for the round ($0) and the opposing player gets nothing as well.</li>

                <li>To keep the game fair and that no bias will be made, usernames of the players you are playing against will be kept anonymous</li>
                    </div>              
                </div>
            </div>    		

            <div>
                <img class="col-md-5" src="/public/images/wholestep.jpg">
            </div>

    		<br>
            <br>
            <div class="col-md-12">
                <br>
                <br>
                <a id="begin" class="btn btn-success btn-lg">Begin Game</a>
            </div>
            
    		<!-- 
            <br>
            <a id="begin" class="btn btn-success btn-lg">Begin Game</a>

    		<br>
    		<br>

    		<div>
    			<img class="step1" src="/public/images/whole1.jpg">    			
    		</div>

    		<br>
    		<br>
    		<br>

    		<div>
    			<img class="step2" src="/public/images/winlose.jpg">
    		</div> -->
    	</div>

    	<hr>

      <footer>
        <p></p>
      </footer>
    </div>
	
</body>

<script type="text/javascript">
	$(document).ready(function () {
          // Hide the div
          // Show the div after 5s
          $(".customload").hide();
    });

	$('#begin').on('click', function(e){
        getOpponent();
		console.log("I GOT CLICKED");
		$(".about").hide();
        $(".customload").show();
        var temp = Math.floor((Math.random() * 7000) + 3000);
        console.log("TEMP IS: " + temp);

        setTimeout(function(){
        	window.location.href = 'game'; 
     	}, temp);
	});

    function getOpponent(){
        var opponent = "anonuser" +  Math.floor((Math.random() * 5000) + 2000);  

        $.ajax({
          type: 'POST',
          url: '/gameinfo/auth',
          data: JSON.stringify({ 
            opponent: opponent  
          }), 
          contentType: "application/json",
          dataType: "json",
          success: function(){
            // continue;
            console.log("DONE");
          },
          error: function(){
            console.log("Error adding opponent");
          }
        });
    }


	// setTimeout(function(){
 //       window.location.href = 'form2.html';
 //    }, 5000);
</script>

</html>