<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>

<body>
	<% include ../partials/header %>

	<div>
      <div class="logo">
        <!-- <h1>Playing in the House of Games</h1>     -->    
        <img src="public/images/houseofgameslogo.jpg">
      </div>
    </div>

    <div class="container">

    	<div class="customload">
      		<div class="loader"></div>
      		<p>Looking for another player....</p>
    	</div>

    	<div class="about">
    		<div class="panel panel-info">
    			<div class="panel-heading"><h4><center>Game Overview</center></h4></div>
    			<div class="panel-body">
    				The game begins with you initially being given $100. The game will consist of three rounds. At the beginning of each round, the opposing player will not know how much money you initially have, and you will be asked to make a bet which you will offer to the opposing player. The opposing player will then decide whether to accept this offer or not. If the opposing player accepts this bet, then both players win where you will keep the amount you have remaining and the opposing player will win the amount you have given. If however the opposing player declines the offer, both players lose and receive nothing.
    			</div>    			
    		</div>

    		<br>

    		<a id="begin" class="btn btn-success btn-lg">Begin Game</a>

    		<br>
    		<br>

    		<div>
    			<img class="step1" src="/public/images/whole1.jpg">    			
    		</div>

    		<br>
    		<br>
    		<br>

    		<div>
    			<img class="step2" src="/public/images/winlose.jpg">
    		</div>
    	</div>

    	<hr>

      <footer>
        <p>&copy; 2016 Company, Inc.</p>
      </footer>
    </div>
	
</body>

<script type="text/javascript">
	$(document).ready(function () {
          // Hide the div
          // Show the div after 5s
          $(".customload").hide();
    });

	$('#begin').on('click', function(e){
		console.log("I GOT CLICKED");
		$(".about").hide();
        $(".customload").show();
        var temp = Math.floor((Math.random() * 5000) + 2000);
        console.log("TEMP IS: " + temp);

        setTimeout(function(){
        	window.location.href = 'game'; 
     	}, temp);
	});


	// setTimeout(function(){
 //       window.location.href = 'form2.html';
 //    }, 5000);
</script>

</html>