<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>

<body>
	<% include ../partials/header %>

    <div class="container">      
      
      <div class="about">

        <% if (message.length > 0) { %>
          <div class="alert alert-danger"><%= message %></div>
        <% } %> 
      
      <p>Thank you for participating in the study! Social Media has rapidly evolved and has now become a major part of our everyday lives. Not a day goes by without us looking through our Facebook accounts even just once. This study aims to find out how much people really know about social media and how it works.</p>

      <p><b>How can you help?</b> By agreeing to take part in the experiment, you will be asked to answer a brief questionnaire about social media and your usage. You will then play a quick game with a randomly assigned player. After playing through the game and asnwering the questionnaire, you will then be personally interviewed about your experiences with social media.</p>

      <p>Don't forget to collect your $10 voucher at the end of the study!</p>

      <div class="panel-group" id="infobox">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h4 class="panel-title"><a data-toggle="collapse" href="#collapse1">More Information</a></h4>
          </div>
          <div id="collapse1" class="panel-collapse collapse">
            <div class="panel-body">
              <b>What will happen to the information you give? </b><p>This research is confidential. This means that the researchers named below will be aware of your identity but the research data will be aggregated and your identity will not be disclosed in any reports, presentations, or public documentation. However, you should be aware that in small projects your identity might be obvious to others in your community.</p>
 
              <p>Only my supervisors and I will be able to read the notes and data gathered from the experiment. This data will then be kept securely and destroyed approximately 2 years after the research ends.</p>
              <hr>
              <b>What will the project produce? </b>

              <p>The information gathered from this experiment will be used for my final honours report and may be used for a conference paper.  </p>
              <hr>
              <b>Questions Or Concerns?</b>
              <li>Dr Ian Welch, Associate Professor, School of Engineering and Computer Science, Victoria University of Wellington, <a href="mailto:ian.welch@ecs.vuw.ac.nz">ian.welch@ecs.vuw.ac.nz</a></li>

             
            </div>
          </div>
        </div>
      </div>

		<br>
		<br>
		<br>

    <% if (isLoggedIn) { %>
      <a href="pregame" class="btn btn-success btn-lg">Begin Experiment</a>
    <% } else{%>            
      <a href="disclaimer" class="btn btn-success btn-lg">Begin Experiment</a>
    <% } %>     
		
      </div>

      <hr>

      <footer>
        <p>&copy; 2016 Company, Inc.</p>
      </footer>
    </div> <!-- /container -->

</body>

<script type="text/javascript">
// document.getElementById("p1").innerHTML = "New text!";
</script>

</html>