<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>

<body>
	<% include ../partials/header %>
	
	<div class="jumbotron">
      <div class="logo">
        <h1>Playing in the House of Games</h1>        
      </div>
    </div>

    <div class="container">

    <% if (message.length > 0) { %>
		<div class="alert alert-danger"><%= message %></div>
	<% } %>

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-primary">
                <div class="panel-heading">Log In!</div>
                <div class="panel-body">
                    <form role="form" method="post" action="/login/auth" accept-charset="UTF-8">                    
                       
                        <label for="fname">Username</label>
                        <input type="text" id="username" class="form-control" name="username" placeholder="Username">
                        
                        <label for="password" class="m-t-10">Password</label>
                        <input type="password" id="password" class="form-control" name="password" placeholder="">
                                                                        
                        <center><input type="submit" class="btn btn-primary m-t-10" id="submitbtn" name="submit" value="Submit"></center>                        
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>

      <hr>

      <footer>
        <p>&copy; 2016 Company, Inc.</p>
      </footer>
    </div> <!-- /container -->

</body>

<script type="text/javascript">
var ERROR_LOG = console.error.bind(console);
	//var ip = "https://rugged-capitol-reef-56094.herokuapp.com/";

	$.ajax({
		url: '/login',
		type: "GET"
	}).then();

	// function verify(pw){

	// }

	$('#submitbtn').on('click', function(e){
		//e.preventDefault()
		$.ajax({
			type: 'POST',
			url: '/login/auth',
			data: JSON.stringify({
				username: $('#username').val,
				password: $('#password').val()
			}), 
			contentType: "application/json",
			dataType: "json",
			success: function(){
				window.location.replace(ip + "/pregame");
			},
			error: function(){

			}
		});
	});
</script>

</html>