<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>

<body>
	<% include ../partials/header %>

    <div class="container">

      <div id="error"></div>
      
      <div class="form-group">
        <form>
          <div class="lotto">
            <label for="lotto">Say a lottery ticket costs $50. How much should the prize be for you to buy a ticket?</label>
            <br>
            <input type="number" required class="form-control" id="lotto"></input>
          </div>

          <hr>

          <div>
            <label for="radio_1">There are two urns, one containing 100 red and black marbles at an unknown ratio, and the second having an exact 50-50 ratio of red and black marbles. If you were to bet $100 on drawing either a red or black marble, which urn would you bet on?</label>
            <br>
            <label class="radio-inline"><input required type="radio" name="opturn" value="unknown">Unknown Ratio</label>
            <label class="radio-inline"><input type="radio" name="opturn" value="50-50">50-50 Ratio</label>
          </div>

          <hr>

          <div>
            <label for="radio_1">While playing the game, did you think you were facing a real person?</label>
            <br>
            <label class="radio-inline"><input required type="radio" name="optreal" value="yes">Yes</label>
            <label class="radio-inline"><input type="radio" name="optreal" value="No">No</label>
          </div>

          <hr>

          <div>
            <label for="radio_1">I believe that Facebook will not use my personal information for any purposes other than what it has been provided for.</label>
            <br>
            <label class="radio-inline"><input required type="radio" name="optpurp" value="SD">Strongly Disagree</label>
            <label class="radio-inline"><input type="radio" name="optpurp" value="D">Disagree</label>
            <label class="radio-inline"><input type="radio" name="optpurp" value="NAD">Neither Agree or Disagree</label>
            <label class="radio-inline"><input type="radio" name="optpurp" value="A">Agree</label>
            <label class="radio-inline"><input type="radio" name="optpurp" value="SA">Strongly Agree</label>
          </div>

          <hr>

          <div>
            <label for="radio_1">I am concerned that my information on Facebook will be accessed and used by third parties (eg: applications, games or websites that Facebook shares with).</label>
            <br>
            <label class="radio-inline"><input required type="radio" name="optconcern" value="SD">Strongly Disagree</label>
            <label class="radio-inline"><input type="radio" name="optconcern" value="D">Disagree</label>
            <label class="radio-inline"><input type="radio" name="optconcern" value="NAD">Neither Agree or Disagree</label>
            <label class="radio-inline"><input type="radio" name="optconcern" value="A">Agree</label>
            <label class="radio-inline"><input type="radio" name="optconcern" value="SA">Strongly Agree</label>
          </div>

          <br>
          <br>
          
           <center><button type="button" class="btn btn-primary m-t-10 btn-lg" onclick="submit_data()">Submit</button></center>     
        </form>
      </div>

      <hr>

      <footer>
        <p></p>
      </footer>
    </div> <!-- /container -->
	
</body>

<script type="text/javascript">

function validate_form(){
  var lotto = $( "#lotto" ).val();
  if(lotto == null){
    return false;
  }
  var urn = $('input[name="opturn"]:checked').val();  
  if(urn == null){
    return false;
  }
  var real = $('input[name="optreal"]:checked').val();
  if(urn == null){
    return false;
  }
  var purp = $('input[name="optpurp"]:checked').val();
  if(purp == null){
    return false;
  }
  var concern = $('input[name="optconcern"]:checked').val();
  if(concern == null){
    return false;
  }
  return true;
}

function submit_data(){

  if(!validate_form()){
    document.getElementById('error').innerHTML = '<div class="alert alert-danger">Please fill up all fields</div>';      
    return;
  }

  $.ajax({
      type: 'POST',
      url: '/postgame/auth',
      data: JSON.stringify({
        lotto: $( "#lotto" ).val(),
        urn: $('input[name="opturn"]:checked').val(),
        real_person: $('input[name="optreal"]:checked').val(),
        purpose: $('input[name="optpurp"]:checked').val(),
        concern: $('input[name="optconcern"]:checked').val()
      }), 
      contentType: "application/json",
      dataType: "json",
      success: function(){
        window.location = "/finish";
        console.log("DONE");
      },
      error: function(){

      }
    });
}

</script>

</html>