<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>

<body>
	<% include ../partials/header %>

	<div>
      <div class="logo">
        <!-- <h1>Playing in the House of Games</h1>     -->    
        <img src="public/images/houseofgameslogo.jpg">
      </div>
    </div>

    <div class="container">

      <div id="error"></div>
      
      <div class="form-group">
        <form>
          <div class="lotto">
            <label for="lotto">Say a lottery tickets costs $50. How much should the prize be for you to buy a ticket?</label>
            <br>
            <input type="number" required class="form-control" id="lotto"></input>
          </div>

          <br>

          <div class="radio_1">
            <label for="radio_1">There are two urns, one containing 100 red and black marbles at an unknown ratio, and the second having an exact 50-50 ratio of red and black marbles. If you were to bet $100 on drawing either red or black, which urn would you bet on?</label>
            <br>
            <label class="radio-inline"><input required type="radio" name="opturn" value="unknown">Unkown Ratio</label>
            <label class="radio-inline"><input type="radio" name="opturn" value="50-50">50-50 Ratio</label>
          </div>

          <br>
          <br>
          
           <center><button type="button" class="btn btn-primary m-t-10" onclick="submit_data()">Submit</button></center>     
        </form>
      </div>

      <hr>

      <footer>
        <p>&copy; 2016 Company, Inc.</p>
      </footer>
    </div> <!-- /container -->
	
</body>

<script type="text/javascript">

function validate_form(){
  var lotto = $( "#lotto" ).val();
  if(lotto == null){
    return false;
  }
  var urn = $('input[name="opturn"]:checked').val();  
  if(urn == null){
    return false;
  }
  return true;
}

function submit_data(){

  if(!validate_form()){
    document.getElementById('error').innerHTML = '<div class="alert alert-danger">Please fill up all fields</div>';      
    return;
  }

  $.ajax({
      type: 'POST',
      url: '/postgame/auth',
      data: JSON.stringify({
        lotto: $( "#lotto" ).val(),
        urn: $('input[name="opturn"]:checked').val()        
      }), 
      contentType: "application/json",
      dataType: "json",
      success: function(){
        window.location.replace(ip + "/finish");
        console.log("DONE");
      },
      error: function(){

      }
    });
}

// $('#submitbtn').on('click', function(e){
//     //e.preventDefault()
//     $.ajax({
//       type: 'POST',
//       url: '/postgame/auth',
//       data: JSON.stringify({
//         lotto: $( "#lotto" ).val(),
//         urn: $('input[name="opturn"]:checked').val()        
//       }), 
//       contentType: "application/json",
//       dataType: "json",
//       success: function(){
//         window.location.replace(ip + "/finish");
//       },
//       error: function(){

//       }
//     });
//   });

</script>

</html>