<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>

<body>
	<% include ../partials/header %>

    <div class="container">

      <div id="error"></div>
      
      <div class="form-group">
        <form>
          <div>
            <label for="radio_1">On a scale of 1-10, where 10 being the highest, how much do you value your privacy?</label>
            <br>
            <label class="radio-inline"><input required type="radio" name="optpriv" value="1">1</label>
            <label class="radio-inline"><input type="radio" name="optpriv" value="2">2</label>
            <label class="radio-inline"><input type="radio" name="optpriv" value="3">3</label>
            <label class="radio-inline"><input type="radio" name="optpriv" value="4">4</label>
            <label class="radio-inline"><input type="radio" name="optpriv" value="5">5</label>
            <label class="radio-inline"><input type="radio" name="optpriv" value="6">6</label>
            <label class="radio-inline"><input type="radio" name="optpriv" value="7">7</label>
            <label class="radio-inline"><input type="radio" name="optpriv" value="8">8</label>
            <label class="radio-inline"><input type="radio" name="optpriv" value="9">9</label>
            <label class="radio-inline"><input type="radio" name="optpriv" value="10">10</label>
          </div>

          <hr>

          <br>

          <div>
            <label for="social_media">Which of the social media websites/applications do you use?(hold shift/ctrl to select more than one)</label>
            <select multiple class="form-control" id="social_media">
              <option value="facebook">Facebook</option>
              <option value="twitter">Twitter</option>
              <option value="instagram">Instagram</option>
              <option value="linkedin">LinkedIn</option>
              <option value="google+">Google+</option>
              <option value="skype">Skype</option>
              <option value="tumblr">Tumblr</option>
            </select>
          </div>

          <hr>
          
          <br>

          <div>
            <label for="freq">How often do you use these social media websites/applications?</label>
            <select required class="form-control" id="freq">
              <option value="month">Monthly</option>
              <option value="week">Weekly</option>
              <option value="daily">Daily</option>
              <option value="morethanday">More than once a day</option>
              <option value="hourly">Hourly</option>
              <option value="morethanhour">More than once an hour</option>
            </select>
          </div>
          
          <hr>

          <br>
          <div>
            <label for="radio_2">On a scale of 1-10, where 10 being the highest, how much do you know about Facebook's Terms and Conditions?</label>
            <br>
            <label class="radio-inline"><input required type="radio" name="optfb" value="1">1</label>
            <label class="radio-inline"><input type="radio" name="optfb" value="2">2</label>
            <label class="radio-inline"><input type="radio" name="optfb" value="3">3</label>
            <label class="radio-inline"><input type="radio" name="optfb" value="4">4</label>
            <label class="radio-inline"><input type="radio" name="optfb" value="5">5</label>
            <label class="radio-inline"><input type="radio" name="optfb" value="6">6</label>
            <label class="radio-inline"><input type="radio" name="optfb" value="7">7</label>
            <label class="radio-inline"><input type="radio" name="optfb" value="8">8</label>
            <label class="radio-inline"><input type="radio" name="optfb" value="9">9</label>
            <label class="radio-inline"><input type="radio" name="optfb" value="10">10</label>
          </div>

          <br>
          <br>
          
          <center><button type="button" class="btn btn-primary m-t-10 btn-lg" onclick="submit_data()">Submit</button></center>       
        </form>
      </div>

      <hr>

      <footer>
        <p>&copy; 2016 Company, Inc.</p>
      </footer>
    </div> <!-- /container -->
	
</body>

<script type="text/javascript">

  function validate_form(){
    var priv = $('input[name="optpriv"]:checked').val();
    if(priv == null){
      return false;
    }
    var social = $( "#social_media" ).val();
    if(social == {}){
      return false;
    }
    var fb = $('input[name="optfb"]:checked').val();
    if(fb == null){
      return false;
    }
    return true;
  }

// $('#submitbtn').on('click', function(e){
   function submit_data(){
    console.log("SENDING DATA");
    if(!validate_form()){
      document.getElementById('error').innerHTML = '<div class="alert alert-danger">Please fill up all fields</div>';      
      return;
    }
    $.ajax({
      type: 'POST',
      url: '/pregame/auth',
      data: JSON.stringify({
        privacy_val: $('input[name="optpriv"]:checked').val(),
        social_media: $( "#social_media" ).val(),
        freq: $('#freq').val(),
        fb_val: $('input[name="optfb"]:checked').val()
      }), 
      contentType: "application/json",
      dataType: "json",
      success: function(){
        window.location = "/gameinfo";
        // console.log("DONE");
      },
      error: function(){
        console.log("Error submitting info :(");
      }
    });
   }
    

</script>

</html>