<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>

<body>
	<% include ../partials/header %>
	
	<div class="jumbotron">
      <div class="logo">
        <h1>Playing in the House of Games</h1>        
      </div>
    </div>

    <div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-primary">
                <div class="panel-heading">Thank you for Sign Up!</div>
                <div class="panel-body">
                    <form role="form" method="post" action="/register" accept-charset="UTF-8">
                    
                        <label for="fname">First Name</label>
                        <input type="text" id="fname" class="form-control" name="fname" placeholder="Example: John">
                        
                        <label for="lname">Last Name</label>
                        <input type="text" id="lname" class="form-control" name="lname" placeholder="Example: Smith">

                        <label for="username">Last Name</label>
                        <input type="text" id="username" class="form-control" name="username">

                        <label for="email">Email Address</label>
                        <input type="email" id="email" class="form-control" name="email" placeholder="Example: john.smith@gmail.com">
                        
                        <label for="gender" class="m-t-10">Select your Gender</label>
                        <select id="gender" class="form-control" name="gender">
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                            <option value="other">Other</option>
                        </select>
                        
                        <label for="ethnicity">Select your Ethnicity</label>
                        <select id="ethnicity" class="form-control" name="ethnicity">
                            <option value="european">European/Pakeha</option>
                            <option value="maori">Māori</option>
                            <option value="pacific">Pacific Islander</option>
                            <option value="asian">Asian</option>
                            <option value="africa">African</option>
                            <option value="middleeast">Middle Eastern</option>
                            <option value="latin">Latin American</option>
                            <option value="other">Other</option>
                        </select>
                        
                        <label for="password">Password</label>
                        <input type="password" id="password" class="form-control" name="password" placeholder="">
                        
                        <label for="verifypass">Verify Password</label>
                        <input type="password" id="confirmpass" class="form-control" name="verifypass" placeholder="">
                        
                        <center><input type="submit" class="btn btn-primary m-t-10" id="submitbtn" name="submit" value="Submit"></center>                        
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>

      <hr>

      <footer>
        <p>&copy; 2016 Company, Inc.</p>
      </footer>
    </div> <!-- /container -->
</body>

<script type="text/javascript">
	var ERROR_LOG = console.error.bind(console);
	var ip = "https://rugged-capitol-reef-56094.herokuapp.com/";

	$.ajax({
		url: ip+'/register',
		type: "GET"
	}).then();

	$('#submitbtn').on('click', function(e){
		e.preventDefault()
		$.ajax({
			type: 'POST',
			url: ip+'/register',
			data: JSON.stringify({
				fname: $('#fname').val(),
				lname: $('#lname').val(),
				username: $('#username').val,
				email: $('#email').val(),
				gender: $'#gender').val(),
				ethnicity: $('#ethnicity').val(),
				password: $('#password').val()
			}), 
			contentType: "application/json",
			dataType: "json",
			success: function(){
				window.location.replace(ip + "/pregame");
			},
			error: function(){

			}
		});
	});
</script>

</html>