<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>

<body>
	<% include ../partials/header %>
	
	<div class="jumbotron">
      <div class="logo">
        <h1>Playing in the House of Games</h1>        
      </div>
    </div>

    <div class="container">

    <% if (message.length > 0) { %>
		<div class="alert alert-danger"><%= message %></div>
	<% } %>

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-info">
                <div class="panel-heading"><center>Register Your Details Here</center></div>
                <div class="panel-body">
                    <form role="form" method="post" action="/register/auth" accept-charset="UTF-8">
                    
                        <label for="fname">First Name</label>
                        <input type="text" id="fname" required class="form-control" name="fname" placeholder="Example: John">
                        
                        <label for="lname">Last Name</label>
                        <input type="text" id="lname" required class="form-control" name="lname" placeholder="Example: Smith">

                        <label for="username">Username</label>
                        <input type="text" id="username" required class="form-control" name="username">

                        <label for="email">Email Address</label>
                        <input type="email" id="email" required class="form-control" name="email" placeholder="Example: john.smith@gmail.com">

                        <label for="age">Age</label>
                        <input type="number" id="age" required class="form-control" name="age" min="18">
                        
                        <label for="gender" class="m-t-10">Select your Gender</label>
                        <select id="gender" class="form-control" name="gender">
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                            <option value="other">Other</option>
                        </select>
                        
                        <label for="ethnicity">Select your Ethnicity</label>
                        <select id="ethnicity" class="form-control" name="ethnicity">
                            <option value="european">European/Pakeha</option>
                            <option value="maori">Māori</option>
                            <option value="pacific">Pacific Islander</option>
                            <option value="asian">Asian</option>
                            <option value="africa">African</option>
                            <option value="middleeast">Middle Eastern</option>
                            <option value="latin">Latin American</option>
                            <option value="other">Other</option>
                        </select>
                        
                        <label for="password">Password</label>
                        <input type="password" id="password" required class="form-control" name="password" placeholder="">
                        
                        <center><input type="submit" onchange="validatePassword()" class="btn btn-primary m-t-10" id="submitbtn" name="submit" value="Submit"></center> 

                        <br>

                        <center><a href="login">Already Have an account? Log in Here!</a></center>                       
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>

      <hr>

      <footer>
        <p>&copy; 2016 Company, Inc.</p>
      </footer>
    </div> <!-- /container -->
</body>

<script type="text/javascript">
	var ERROR_LOG = console.error.bind(console);
	//var ip = "https://rugged-capitol-reef-56094.herokuapp.com";

	$.ajax({
		url: '/register',
		type: "GET"
	}).then();

    window.onload = function () {
        document.getElementById("password").onchange = validatePassword;
    }

    function validatePassword(){
        var pw=document.getElementById("password").value;
        if(pw.length < 6) {
            document.getElementById("password").setCustomValidity("Passwords Should contain mroe than six characters");
            return false;
        }
        else if(pw.length == 0){
            document.getElementById("confirm_password").setCustomValidity('Please fill in this field');
            return false;
        }else{
        	document.getElementById("confirm_password").setCustomValidity('');
        }
    }

	$('#submitbtn').on('click', function(e){
		//e.preventDefault()
		$.ajax({
			type: 'POST',
			url: '/register/auth',
			data: JSON.stringify({
				fname: $('#fname').val(),
				lname: $('#lname').val(),
				username: $('#username').val,
				email: $('#email').val(),
				age: $('#age').val(),
				gender: $('#gender').val(),
				ethnicity: $('#ethnicity').val(),
				password: $('#password').val()
			}), 
			contentType: "application/json",
			dataType: "json",
			success: function(){
				window.location.replace(ip + "/pregame");
			},
			error: function(){

			}
		});
	});
</script>

</html>