<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>

<body>
	<% include ../partials/header %>

    <div class="container">

        <div id="error"></div>

        <div class="customload">
            <div class="loader"></div>
            <p>Waiting for your opponent to make decision... %></p>
        </div>

    	<div class="about">
    		<div class="panel panel-info">
    			<div class="panel-heading"><h4><center>Third Round</center></h4></div>
    			<div class="panel-body">
    				<li>For this round, you are given $100 to use at your disposal for you to make an offer which will be offered to <%= result.results.opponent %>. </li>

                    <li>Your opposing player will then decide whether to accept this offer or not where if he/she does, then both players win, where you keep the money you have left .</li>

                    <li>If however he/she declines the offer, then both players lose, where you lose all the money you got for the round</li>
    			</div>                
    		</div>

            <br>
            <br>
            <div>
                <img src="public/images/round1.jpg" class="player">
            </div>
            <br>
            <br>
            <form>                    
                       
                <label for="fname">Enter Amount To Send To <%= result.results.opponent %>:</label>
                <input type="number" id="amount" required class="form-control" name="amount" placeholder="Amount" min="0" max="100">   

                <br>
                <br>                     
                <center><button type="button" class="btn btn-primary m-t-10 btn-lg" onclick="submit_data()">Send to other Player</button></center>
             </form>
            <br>
            <br>
    		<!-- <a href="game" class="btn btn-success btn-lg">Send to other player</a> -->
    	</div>
    </div>
	
</body>

<script type="text/javascript">

$(document).ready(function () {
    // Hide the div
    $(".customload").hide();
});

function validate_form(){
    var amount = $( "#amount" ).val();
    console.log("AMOUNT IS: " + amount);
    if(amount == null || amount == undefined || amount == ""){
        return false;
    }else{
        return true;
    }
}

function submit_data(){

    var status = calculate_status($( "#amount" ).val());
    console.log("FINAL STATUS IS: " + status);
  if(!validate_form()){
    document.getElementById('error').innerHTML = '<div class="alert alert-danger">Please fill up all fields</div>';      
    return;
  }else{
    post_data(status);
    $("#error").hide();
    look_player();
  }
}

function post_data(status){
    $.ajax({
      type: 'POST',
      url: '/round3/auth',
      data: JSON.stringify({
        round3money: $( "#amount" ).val(),
        round3status: status
      }), 
      contentType: "application/json",
      dataType: "json",
      success: function(){
        window.location.replace("/summary3");
        console.log("DONE");
      },
      error: function(){
        console.log("Error posting data in game3");
      }
    });
}

function look_player(){
    var max = 10000;
    var min = 6000;
    console.log("I GOT CLICKED");
    $(".about").hide();
    $(".customload").show();

    var temp = Math.floor(Math.random()*(max-min+1)+min);

    // var temp = Math.floor((Math.random() * 5000) + 2000);
    console.log("ROUND 3 WAITING TIME: " + temp);

    setTimeout(function(){
        window.location.href = 'summary3'; 
    }, temp);
}

function calculate_status(amount){
    var status = Math.floor((Math.random() * 100) + 1);
    console.log("STATUS IS: " + status);
    if(amount == 0){
        return 'L';
    }
    if(status<=10){
        return 'W';
    }else{
        return 'L';
    }
}


</script>

</html>