<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>

<body>
	<% include ../partials/header %>

    <div class="container">
    	<div class="about">
    		<!-- <div class="panel panel-info">
    			<div class="panel-heading"><h4><center>Now in Round1 Summary Page</center></h4></div>
    			<div class="panel-body">
    				The game begins with you initially being given $100. The game will consist of <b>three</b> rounds. 

                    <li>At the beginning of each round, the opposing player will not know how much money you initially have, and you will be asked to make a bet which you will offer to the opposing player.</li> 
                    <li>The opposing player will then decide whether to accept this offer or not.</li>

                    <li>If the opposing player accepts this bet, then both players win where you will keep the amount you have remaining and the opposing player will win the amount you have given.</li> 

                    <li>If however the opposing player declines the offer, both players lose and receive nothing.</li>
    			</div>                
            </div> -->

            <% if(result.results.status == "W"){ %>
            <div class="panel panel-success">
                <div class="panel-heading"><h4><center>Congratulations! You won the first round!</center></h4></div>
                <div class="panel-body">
                    <li>Congratulations! Your opponent accepted your offer of $<%= result.results.money %></li>
                    <li>You have won $<%= 100 - result.results.money %></li>
                </div>                
            </div>
            <% } else{  %>
                <div class="panel panel-danger">
                <div class="panel-heading"><h4><center>You Lost </center></h4></div>
                <div class="panel-body">
                    <li>Unfortunately, your opponent did not accept your offer of <%= result.results.money %>. Maybe try increasing the price</li>
                </div>                
            </div>
            <% } %>
            <br>
            <br>
            
            <br>
            <br>
    		<a href="round2" class="btn btn-success btn-lg">Continue to Second Round</a>
    	</div>
    </div>
	
</body>

<script type="text/javascript">

</script>

</html>