<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>

<body>
	<% include ../partials/header %>

    <div class="container">
    	<div class="about">
    		<div class="panel panel-info">
    			<div class="panel-heading"><h4><center>Now in Game Summary Page</center></h4></div>
    			<div class="panel-body">
    				The game begins with you initially being given $100. The game will consist of <b>three</b> rounds. 

                    <li>At the beginning of each round, the opposing player will not know how much money you initially have, and you will be asked to make a bet which you will offer to the opposing player.</li> 
                    <li>The opposing player will then decide whether to accept this offer or not.</li>

                    <li>If the opposing player accepts this bet, then both players win where you will keep the amount you have remaining and the opposing player will win the amount you have given.</li> 

                    <li>If however the opposing player declines the offer, both players lose and receive nothing.</li>
    			</div>                
    		</div>
            <br>
            <br>
            
            <br>
            <br>
    		<!-- <a href="game" class="btn btn-success btn-lg">Send to other player</a> -->
    	</div>
    </div>
	
</body>

<script type="text/javascript">

</script>

</html>