<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>

<body>
	<% include ../partials/header %>

    <div class="container">
    	<div class="about">

            <% var total = 0; %>

            <% if(result.results.status1 == "W"){%>
                <% total += 100 - result.results.money1 %>
            <% } %>

            <% if(result.results.status2 == "W"){%>
                <% total += 100 - result.results.money2 %>
            <% } %>

            <% if(result.results.status3 == "W"){%>
                <% total += 100 - result.results.money3 %>
            <% } %>

    		<% if(result.results.status3 == "W"){ %>
            <div class="panel panel-success">
                <div class="panel-heading"><h4><center>Congratulations! You won the final round!</center></h4></div>
                <div class="panel-body">
                    <li>Congratulations! Your opponent accepted your offer of $<%= result.results.money3 %></li>
                    <li>You have won $<%= 100 - result.results.money3 %></li>
                </div>                
            </div>
            <% } else{  %>
                <div class="panel panel-danger">
                <div class="panel-heading"><h4><center>You Lost the final round </center></h4></div>
                <div class="panel-body">
                    <li>Unfortunately, your opponent did not accept your offer of $<%= result.results.money3 %>.</li>
                </div>                
            </div>
            <% } %>
            <center><h1>Total Winnings After 3 Rounds: $<%=total%></h1></center>
            <br>
            <br>
            
            <br>
            <br>
    		<a href="postgame" class="btn btn-success btn-lg">Continue Questionnaire</a>
    	</div>
    </div>
	
</body>

<script type="text/javascript">

</script>

</html>