<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>

<body>
	<% include ../partials/header %>

    <div class="container">
    	<div class="about">

            <% if(result.results.status == "W"){ %>
            <div class="panel panel-success">
                <div class="panel-heading"><h4><center>Congratulations! You won the first round!</center></h4></div>
                <div class="panel-body">
                    <li>Congratulations! Your opponent accepted your offer of $<%= result.results.money %></li>
                    <li>You have won $<%= 100 - result.results.money %></li>
                </div>                
            </div>
            <% } else{  %>
                <div class="panel panel-danger">
                <div class="panel-heading"><h4><center>You Lost </center></h4></div>
                <div class="panel-body">
                    <li>Unfortunately, your opponent did not accept your offer of <%= result.results.money %>. Maybe try increasing the price</li>
                </div>                
            </div>
            <% } %>
            <br>
            <br>
            
            <br>
            <br>
    		<a href="round2" class="btn btn-success btn-lg">Continue to Second Round</a>
    	</div>
    </div>
	
</body>

<script type="text/javascript">

</script>

</html>